<div id="delete-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">{{ modal_title }}</h2>
            <span class="close-button" id="close-button-modal-delete">&times;</span>
        </div>
        <p id="item-name" class="modal-p"></p>
        <div class="modal-buttons">
            <button id="confirm-delete" class="sign-button">Удалить</button>
            <button id="cancel-delete" class ="back-href">Отмена</button>
        </div>
    </div>
</div>