<div id="summary-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Подробности объекта</h2>
            <span class="close-button" id="close-button-modal-info">&times;</span>
        </div>
        <div class="content-body">
            <div class="content-body-label-p">
                <label for="object-name">Наименование:</label>
                <p id="object-name" class="modal-p"></p>
            </div>
            <div class="content-body-label-p">
                <label for="object-description">Описание:</label>
                <p id="object-description" class="modal-p"></p>
            </div>
        </div>
        <div class="modal-buttons">
            <button id="close-modal" class="sign-button">Закрыть</button>
        </div>
    </div>
</div>