<div class="tabs">
    <button {% if active_tab == 'general' %} class="sign-button active-tab" {% endif %} id="general-button" class="sign-button">Общая информация</button>
    <button {% if active_tab == 'maintenance' %} class="sign-button active-tab" {% endif %} id="maintenance-button" class="sign-button">Техническое обслуживание</button>
    <button {% if active_tab == 'complaint' %} class="sign-button active-tab" {% endif %} id="complaint-button" class="sign-button">Рекламации</button>
</div>